.LoginForm{
    text-align: center;
    background-color: #282c34;
    font-size: calc(10px + 2vmin);
    color: white;
}

.LoginForm-form{
    background-color: #282c34;
    font-size: calc(10px + 2vmin);
    color: white;
}